body {
  background-color: #f0f0f0;
}


.modal-header {
  justify-content: center !important;
}

.modal-header .btn-close {
  padding: .5rem .5rem;
  position: absolute;
  margin-left: 90%;
}


.tabs {
  display: flex;
}

.tab {
  display: flex;
  width: 50%;
  justify-content: center;
}


.tab {
  padding: 10px 20px;
  cursor: pointer;
  background-color: lightgray;
  /* фон по умолчанию */
  color: black;
  text-decoration: none;
}

.tab_active {
  background-color: #ffffff;
  /* синий фон для активной */
  color: black;
}

.form-control-feedback {
  color: #dc3545;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logoutLink {
  background-color: #6b6969;
  color: #fff9f9;
  padding: 2px 37px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

#logoutLink:hover {
  color: #ebb7b7;
}

.container.mt-5 {
  text-align: center;
}

.image-gallery {
  background-color: #dc3545;
}

/* Галерея изображения */

#image-gallery {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.view {
  background: #ffffff;
  width: 200px;
  height: 200px;
  overflow: hidden;
  /* position: relative; */
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  /* transform: scale(1); */
  transition: transform 0.3s ease;

}

.view:hover {
  transform: scale(1.2);
}

.owner {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgb(3 121 5);
}

#bucket {
  margin-left: 90%;
}

#bucket:hover {
  background-color: #dc3545;
  transition: background-color 0.5s ease;
}

.comment-text {
  word-break: break-all;
}

.delete-comment-btn:hover {
  transform: scale(1.2);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.img-fluid {
  width: 50%;
  margin-left: 25%;
  /* max-width: 100%; */
  /* height: auto; */
}

#messageInput {
  width: 100%;
  resize: none;
}




.file-upload-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.file-upload-group .form-control[type="file"] {
  flex-grow: 1;
  min-width: 0;
}

.file-upload-group .btn {
  flex-shrink: 0;
}


.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}